.form_box {
  width: 100%;
  min-height: calc(100vh - 8rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  background: url(https://images.unsplash.com/photo-1504150558240-0b4fd8946624?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80);
  background-size: cover;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.login-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 70rem;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(128, 128, 128, 0.26);
}
.login-form {
  padding: 3rem;
}
.logo h2 {
  font-size: 2rem;
}
.form-input {
  margin-block: 2rem;
}
.form-input input {
  padding: 1.2rem 2rem;
  border: solid 1px #0ca678;
  transform: border 0.5s;
  outline: 0;
  border-radius: 3px;
  width: 100%;
}
.form-input input:focus {
  transition: border 0.5s;
  border: solid 1px #0ca678;
}
.form-input input:focus:invalid {
  border: solid 1px red;
}
.submit {
  padding: 10px 15px;
  font-weight: 600;
  color: white;
  border: 0;
  background: #20c997;
  cursor: not-allowed;
  transition: 0.5s;
  border-radius: 3px;
  font-size: 1.5rem;
}
.invalid {
  padding: 0.3rem;
  color: red;
  font-size: 1rem;
}
/* .form-input button:hover {
  background: #099268;
} */
.sub_capt {
  display: flex;
  align-items: center;
}
.check {
  display: flex;
  gap: 10px;
  align-items: center;
}

.check label {
  font-size: 1.2rem;
  color: #777;
}
.check input {
  accent-color: #20c997;
}

.forgot {
  font-size: 1.2rem;
  transform: translateX(15px);
}
.forgot span a {
  text-decoration: none;
}
.create {
  display: flex;
  align-items: center;
  margin-block-start: 2rem;
}
.create span {
  font-size: 1.2rem;
}
.create span a {
  text-decoration: none;
}
.create span:nth-child(2) {
  transform: translateX(15px);
}
@media (max-width: 670px) {
  .login-box {
    box-shadow: unset;
    grid-template-columns: repeat(1, auto);
  }
  .img {
    display: none;
  }
}
