.container-rent {
  width: 100%;
  /* min-height: 100vh; */
  display: flex;
  align-items: start;
  justify-content: center;
  margin-top: 7rem;
}

.container-box {
  width: 70rem;
  max-width: 70rem;
  padding: 2rem;
  box-shadow: 0 0 2rem rgb(0, 0, 0, 0.1);

  border-radius: 0.75rem;
}

.container-box .heading__secondary {
  text-align: center;
  margin-bottom: 4rem;
}

.container-box .form {
  width: 100%;
  padding: 1rem 2rem;
}

.flex-input {
  display: flex;
  gap: 10px;
}

.form-rent {
  margin-top: 2rem;
}

.input {
  display: inline-block;
  width: 100%;
  margin-block: 0.75rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  border: 1px solid #20c997;
  font-family: inherit;
  color: inherit;
  -webkit-appearance: none;
}

.input:focus {
  outline: none;
}

.input-textarea {
  resize: vertical;
}
.rent-now {
  margin-top: 1rem;
}
.rent-cta {
  display: inline-block;

  width: 100%;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  border: 1px solid #20c997;
  background-color: #20c997;
  color: #fff;
  font-size: 2rem;
  font-family: inherit;
  font-weight: 500;
}

.rent-cta:hover {
  opacity: 70%;
}
.iconF {
  width: 80px;
  height: 80px;
  color: #20c997;
  /* filter: invert(63%) sepia(83%) saturate(414%) hue-rotate(109deg)
    brightness(88%) contrast(89%); */
}

.pick-pic {
  width: 10rem;
  height: 10rem;
  border: 2px dashed #20c997;
  border-radius: 0.75rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.pick-pic:hover {
  border-color: #168d6a;
  background-color: #d7f5ec;
}

.pick-pic:hover .iconF {
  color: #168d6a;
}
.label input {
  display: none;
}
.label .iconF {
  cursor: pointer;
}
