.booking {
  padding: 4rem;
  width: 100%;
  position: relative;
}

.booking__search {
  max-width: 1150px;
  margin: 0 auto;
  /* padding: 0 8rem; */
  display: flex;
  justify-content: center;
  /* border: #20c997 1px solid; */
}

.filter {
  margin-left: auto;
}
.filter-btn {
  padding: 1rem 2rem;
  background: transparent;
  border: 1px solid #20c997;
  border-radius: 0.75rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.booking__search--content {
  border: #20c997 1px solid;
  display: flex;
  justify-content: center;
  border-radius: 0.75rem;
  overflow: hidden;
}

.booking__search--content input,
.booking__search--content button {
  padding: 1rem 2rem;
}

.booking__search--content input {
  outline: none;
  border: none;
  font-family: inherit;
  color: inherit;
}

.booking__search--content button {
  background-color: #20c997;
  border: none;
  cursor: pointer;
}

/**********************/
.booking__content {
  padding: 8rem;
}

@media screen and (max-width: 960px) {
  .booking__content {
    padding: 4rem 0 !important;
  }
}
@media screen and (max-width: 640px) {
  .booking__content {
    padding: 2rem 0 !important;
  }
}
/*
.booking__hotel--current {
  display: flex;
}

.img-hotel {
  flex: 50%;
  border-radius: 1rem;
  overflow: hidden;
}

.img-hotel img {
  width: 100%;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.information-hotel {
  flex: 50%;
  padding: 2rem;
} 
*/

.hotel {
  width: 40rem;
}

.booking__hotels {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 2rem;
}
.hotel {
  /* border: 1px solid #777; */
  /* border: 1px solid #20c997; */
  border-radius: 0.5rem;
  box-shadow: 0 0 2rem #e8e8e8;
  overflow: hidden;
}

.hotel-img {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 1rem;
}
.hotel-img img {
  transition: all 0.25s;
  width: 100%;
}

.hotel:hover .hotel-img img {
  scale: 1.05;
}

.hotel-info {
  padding: 1rem 2rem;
}
.hotel-info__heading .heading__tertiary {
  margin: 0;
}
/* .hotel-info__heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
} */
.highlighted {
  color: #20c997;
}
.showNew {
  font-size: 1.2rem;
}

/**************************/
.hotel-info__content {
  margin-top: 2rem;
}
.hotel-info__text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hotel-info__user span {
  display: block;
  color: #777;
}

.hotel-info__price {
  font-size: 2rem;
  font-weight: 500;
}

.hotel-info__cta {
  margin-top: 2rem;
  width: 100%;
  background-color: #20c997;
  padding: 1rem 2rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.5rem;

  transition: all 0.25s;
}

.hotel-info__cta span {
  font-size: 1.8rem;
  font-weight: 500;
}
.backdrop-filter {
  width: 100%;
  height: calc(100vh - 5rem);
  z-index: 1;
  bottom: 0;
  position: fixed;
}
.blur {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(3px);
  z-index: 10;
}
.open-filter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide {
  display: none;
}
/* Add Btn */
.add-btn {
  position: absolute;
  right: 4rem;
  bottom: 5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: solid 4px #20c997;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.add-btn img {
  width: 2.4rem;
  height: 2.4rem;
}
.add-btn span {
  color: #20c997;
  font-weight: 600;
  letter-spacing: 1.5;
}

.add-btn:hover {
  scale: 1.05;
  background: #e2fff6;
}

/* Form */
.container-book {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: start;
  justify-content: center;
  margin-top: 7rem;
  border-radius: 0.75rem;
  background: #00000057;
  backdrop-filter: blur(5px);
}

.booking__add {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  width: 70rem;
  max-width: 70rem;
  padding: 2rem;
  box-shadow: 0 0 2rem rgb(0, 0, 0, 0.1);
  border-radius: 0.75rem;
}

textarea {
  resize: vertical;
}

.booking__add .heading__secondary {
  text-align: center;
  margin-bottom: 4rem;
}

.booking__add .form {
  width: 100%;
  padding: 1rem 2rem;
}

.flex-form {
  display: flex;
  gap: 10px;
}

.iconF {
  width: 32px;
  height: 32px;
  color: #20c997;
}

.pick-pic {
  width: 10rem;
  height: 10rem;
  border: 2px dashed #20c997;
  border-radius: 0.75rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.pick-pic:hover {
  border-color: #168d6a;
  background-color: #d7f5ec;
}

.pick-pic:hover .iconF {
  color: #168d6a;
}
.label input {
  display: none;
}
.label .iconF {
  cursor: pointer;
}
